<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="users content">
        <h2>All users</h2>
        <% if(users.length > 0) { %>
            <% users.forEach(user => { %>
                <a class="single" href="/users/<%= user._id %>">
                    <h3 class="name"><%= user.name %></h3>
                    <p class="mobile"><%= user.mobile %></p>
                </a>
            <% }) %>
        <% } else { %>
            <p>There are no users.</p>
        <% } %>    
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>